body{
	margin: 0;
}
nav{
	align-items: center;
	background-color: #e98251;
	display: flex;
	height: 60px;
	justify-content: space-evenly;
}

nav a{
	color: #17386d;
	font-size: 22pt;
	text-decoration: none;
	font-family: 'VT323', monospace;
}

header{ 
	background-image: url(images/5kages.jpg); 
	background-size: cover;
	height: 400px;
}

section{
	background-color: #b0946b;
	display: flex;
	justify-content: space-evenly;
	font-family: 'Roboto', sans-serif;
}

div{
	width: 40%;
	text-align: justify;
}

div ul {
	list-style-image: url(images/naruto.png);

}

ul li:nth-child(1){
	color:#fff;
}